body {
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.welcome-message {
    font-size: 3rem;
    color: #007bff;
    animation: fadeIn 2s ease-in-out, bounce 1.5s ease-in-out 2s infinite;
    margin-top: 100px;
}

/* Animação de Fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animação de Bounce */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-8px);
    }
}
